<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>

<h1>Iniciar Sesión</h1>

<form th:action="@{/login}" method="post">

    <div th:if="${param.error}" style="color:red">
        Correo o contraseña incorrectos.
    </div>

    <div th:if="${param.logout}">
        Sesión cerrada correctamente.
    </div>

    <div th:if="${param.registrado}">
        Registro exitoso. Inicie sesión.
    </div>

    <label>Correo:
        <input type="email" name="username" required>
    </label>
    <br><br>

    <label>Contraseña:
        <input type="password" name="password" required>
    </label>
    <br><br>

    <button type="submit">Ingresar</button>
</form>

<a th:href="@{/registro}">¿No tiene cuenta? Registrarse</a>

</body>
</html>