<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<h1>Registro</h1>

<form th:action="@{/registro}" th:object="${usuario}" method="post">

    <label>Nombre:
        <input type="text" th:field="*{nombre}" required>
    </label>
    <br><br>

    <label>Correo:
        <input type="email" th:field="*{email}" required>
    </label>
    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color:red"></div>
    <br>

    <label>Contraseña:
        <input type="password" th:field="*{contrasenia}" required>
    </label>
    <br><br>

    <button type="submit">Registrarse</button>
</form>

<a th:href="@{/login}">Volver al login</a>

</body>
</html>